<!DOCTYPE html>
<html>
    <head>
        <title>
            ASCII-Sketch
        </title>

        <link rel="stylesheet" href="../../../reset.css" />
        <link rel="stylesheet" href="../ascii.css" />
        <!-- need jquery anymore? -->
        <script src="../../jQuery1x10x2.js"></script>
        
        <!-- angular libraries -->
        <script src="../angular/angular-loader.js"></script>
        <script src="../angular/angular.js"></script>
        <script src="../angular/angular-mocks.js"></script>
        
        <!-- Application specific dependencies -->
        <script defer src="js/debug.js"></script>
        <script defer src="js/data-structures.js"></script>
        <script defer src="js/util.js"></script>
        
        <script defer src="js/ascii-app.js"></script>
        
        <!--<script src="js/filters/point-range-filter.js"></script>
        -->
        <script defer src="js/directives/asc-box.js"></script>
        <script defer src="js/directives/tab-content.js"></script>
        
        <script defer src="js/controllers/main-controller.js"></script>
        <script defer src="js/controllers/setting-controller.js"></script>
        <script defer src="js/controllers/box-controller.js"></script>
        
        <script defer src="js/services/setting-service.js"></script>
        <!--
        <script defer src="../model-old.js"></script>
        <script defer src="../ui-old.js"></script>
        <script defer src="../ascii2-old.js"></script>
        -->
    </head>

    <body ng-app="AsciiApp" ng-controller="MainController as main">
        <header ng-controller="SettingController as set">
            <div id="tabs">
                <div class="tab" ng-repeat="tab in main.tabs" ng-class="main.isActiveTab(tab)" ng-click="main.setActiveTab(tab)">
                    <span class="tab_text">{{ tab.name }}</span>
                </div>
            </div>
            <div id="tab_content">
                <tab-content></tab-content>
            </div>
        </header>
        <div id="content">
            <!--



                    /-----------\               
                   /             \              
                  /               \             
                 /     O     O     \            
                /                   \           
                |                    |          
                |         ^          |          
                |                    |          
                |     \       /      |          
                \      \_____/      /           
                 \                 /            
                  \               /             
                   \-------------/              




                                   ^^^ ^^^^                         
                                   ^^ ^^ ^^                         
                                   ^ ^ ^ ^                          
                                  ^ ^ ^ ^                           
                                 _______                            
                                |       |                           
                                |       |                           
                                |       |___________                
                     \O/        |       |      |    |               
                       \        |       |      |____|               
            ___________/\_______|_______|___________|_________      
            \       _     |    _          _          _       /      
             \     (_)   _|   (_)        (_)        (_)     /       
              \         (O)                   U.S.S. Lorem /        
               \                                          /         
                \________________________________________/          
        ~~~  ~~~~~~~~~~~~~  ~~~~~~~~ ~~~~~~~~   ~~~~~~~~ ~~~~~~~~   
        ~~~~~~~~   ~~~~~~~~   ~~~~~~~~~~~   ~~~~~~~~~~~~~~~  ~~~~~~~
        ~~~~~~~~~~~~ ~~~~~~~~   ~~~~~~~~   ~~~~~~~~  ~~~~~~~~~~~~~~~
        ~~~~~~~~    ~~~~~~~~   ~~~~~~~~  ~~~~~~~~    ~~~~~~~~  ~~~~~
        -->
            <span id="debug">{{ hello }}</span>
            <!-- How odd, angular enables trimming in ngmodel by default. http://stackoverflow.com/questions/14958418/how-to-disable-trimming-of-inputs-in-angularjs -->
            <textarea rows="{{ box.rows }}" cols="{{ box.cols }}" caret="caret" ng-model="box.currStr" ng-keypress="caret.setGetPos()" ng-mousedown="caret.setMousedown()" ng-mouseup="caret.setMouseup()" ng-mousemove="caret.setGetPos()" ng-trim="false" spellcheck="false"></textarea>
            <textarea style="display: none">{{ box.currStr }}</textarea>
        </div>
        <footer>
            <span id="coords">({{ caret.get || '0, 0'}})</span><span id="dims"></span>
        </footer>
    </body>

</html>
