<div class="tab_data" id="advanced_content">
    <div id="extra">
        <table style="float: left">
            <tr>
                <!--<td>
                    <label for="character">Character: </label>
                </td>
                <td>
                    <input type="text" id="character" maxlength="1" style="width: 12px" value="/" onchange="setCopyLinearArgs()" />
                </td>-->
            </tr>
            <tr>
                <td>
                    <label for="rise">Rise: </label>
                </td>
                <td>
                    <input type="text" name="rise" id="rise" class="text" style="width: 48px" value="1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="rise">Run: </label>
                </td>
                <td>
                    <input type="text" name="run" id="run" class="text" style="width: 48px" value="1" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="rise">Times to copy: </label>
                </td>
                <td>
                    <input type="text" class="text" name="iters" id="iters" style="width: 48px" value="3" />
                </td>
            </tr>
        </table>
        <button style="float: left; height: 50px; margin-left: 5px; margin-top: 15px">Print this<br />line at cursor</button>
    </div>
</div>