<setting-bar></setting-bar>
<div id="content">

<boxes></boxes>
<!--    <span id="debug">{{ hello }}</span>
    <textarea rows="{{ box.rows }}" cols="{{ box.cols }}" caret="caret" ng-model="box.currStr" ng-keypress="caret.setGetPos()" ng-mousedown="caret.setMousedown()" ng-mouseup="caret.setMouseup()" ng-mousemove="caret.setGetPos()" ng-trim="false" spellcheck="false"></textarea>
    <textarea style="display: none">{{ box.currStr }}</textarea>-->
</div>
<!--
<footer>
    <span id="coords">({{ caret.get || '0, 0'}})</span><span id="dims"></span>
</footer>-->