<!-- SettingController as set -->
 <div class="tab_data" id="draw_content" *ngIf="selected">
    <section id="draw_buttons">
        <img *ngFor="let mode of modes" [src]="mode.path" class="tool" [class]="getActiveClass(mode.name)" (click)="setMode(mode.name)" />
    </section>
    <section id="fill_options">
        <label for="fill">Fill</label> <input type="checkbox" [(ngModel)]="fillToggled" (change)="toggleFill()">
        
        <span id="fillOptions" *ngIf="fillToggled">
            <label for="fillChar">with: </label><br />
            <input type="radio" id="fillSame" name="fillOptions" checked (change)="isCustom=!$event.target.checked; toggleFill()" />
            <label for="fillSame"> Same characters </label><br />
            <input type="radio" id="fillDiff" name="fillOptions" (change)="isCustom=$event.target.checked; toggleFill()" />
            <label for="fillDiff">This character: </label>
            <input type="text" class="text" maxlength="1" [(ngModel)]="fillChar" (change)="setChar()" />
        </span>
    </section>
    <section id="palette">

        <br />
    </section>
</div> 