<!-- SettingController as set -->
 <div class="tab_data" id="draw_content" *ngIf="selected">
 Draw stuff 
    <section id="draw_buttons">
        <img *ngFor="let mode of modes" [src]="mode.path" class="tool" ng-class="set.getActiveClass(mode)" ng-click="set.setMode(mode)" />
    </section>
    <!--    
    <section id="fill_options">
        <label for="fill">Fill</label> <input type="checkbox" ng-model="set.fillToggled" ng-change="set.toggleFill()">
        
        <span id="fillOptions" ng-show="set.fillToggled">
            <label for="fillChar">with: </label><br />
            <input type="radio" id="fillSame" name="fillOptions" checked />
            <label for="fillSame"> Same characters </label><br />
            <input type="radio" id="fillDiff" name="fillOptions" ng-model="set.fillMode" />
            <label for="fillDiff">This character: </label>
            <input type="text" class="text" maxlength="1"  />
        </span>
    </section>
    <section id="palette">

        <br />

    </section>-->
</div> 