<div class="tab_data" id="edit_content"  *ngIf="selected">
    <section>
        <button id="cutButton" (click)="cut()">
            Cut<br />
            <span>(<span class="cmd">Ctrl</span> + X)</span>
        </button>
        <button id="copyButton" (click)="copy()">
            Copy<br />
            <span>(<span class="cmd">Ctrl</span> + C)</span>
        </button>
        <div style="display: inline-block; margin-right: 10px; text-align: center">
            <button id="pasteButton" style="float: none" (click)="paste()">
                Paste<br />
                <span>(<span class="cmd">Ctrl</span> + V)</span>
            </button><br />
            <form autocomplete="off">
                <input type="checkbox" id="pasteTrans" (change)="toggleTrans()" />
                <label for="pasteTrans" style="display: block; float: left">
                    Transparent
                </label>
            </form>
        </div>
    </section>
    <section class="left_bar">
        <button id="undoButton">
            Undo<br />
            <span>(<span class="cmd">Ctrl</span> + Z)</span>
        </button>
        <button id="redoButton">
            Redo<br />
            <span>(<span class="cmd">Ctrl</span> + Y)</span>
        </button>
    </section>
</div>