<div class="tab_data" id="help_content" *ngIf="selected">
    <a id="back" href="projects/"><span>Back <br />to <br />Projects</span></a>
    <div style="margin-left: 10px">
        Click anywhere in the canvas below to insert characters. Anything you type in one place will not affect anything else you typed elsewhere. To make a block selection, simply click and drag your cursor from the start of the desired selection to the end of it. From here, you can draw lines, rectangles, or other shapes of a character by pressing that key on your keyboard.
    </div>
</div>