<header>
    <div id="tabs">
        <div class="tab" 
            *ngFor="let tab of tabs" 
            [class.active_tab]="tab === activeTab" 
            (click)="setActiveTab(tab)">
            <span class="tab_text">{{ tab.name }}</span>
        </div>
    </div>
    <!-- SettingController as set -->
    <!--<div class="tab_data" id="draw_content">
        <section id="draw_buttons">
            <img ng-repeat="mode in set.modes" ng-src="{{ mode.path }}" class="tool" ng-class="set.getActiveClass(mode)" ng-click="set.setMode(mode)" />
        </section>
        <section id="fill_options">
            <label for="fill">Fill</label> <input type="checkbox" ng-model="set.fillToggled" ng-change="set.toggleFill()">
            
            <span id="fillOptions" ng-show="set.fillToggled">
                <label for="fillChar">with: </label><br />
                <input type="radio" id="fillSame" name="fillOptions" checked />
                <label for="fillSame"> Same characters </label><br />
                <input type="radio" id="fillDiff" name="fillOptions" ng-model="set.fillMode" />
                <label for="fillDiff">This character: </label>
                <input type="text" class="text" maxlength="1"  />
            </span>
        </section>
        <section id="palette">

            <br />

        </section>
    </div>-->
    <!--<div class="tab_data" id="window_content">
        <section>
            <table>
                <tr>
                    <td colspan="2">
                        Canvas dimensions: <br />
                    </td>
                </tr>
                <tr>
                    <td>Height: </td>
                    <td><input type="text" class="text" ng-model="set.boxHeight" /></td>
                </tr>
                <tr>
                    <td>Width: </td>
                    <td><input type="text" class="text" ng-model="set.boxWidth" /></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <button ng-click="set.setDims(); set.resetOnConfirm()">Reset </button>
                    </td>
                    <td>
                        <button ng-click="set.setDims(); set.changeBoxDims()">Change dimensions</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                <input type="checkbox" id="tb" ng-model="set.bordersChecked" ng-change="set.toggleBoxBorders()" style="width: auto" /> <label for="tb">Edge Borders</label>
                        </td>
                </tr>
            </table>
        </section>
        <section class="left_bar">
            <table id="shifts">
                <tr>
                    <td>
                        <button id="shiftVertButton" style="margin-top: 15px; margin-left: 10px;" ng-click="set.shiftVert(set.shiftValue)">Shift image up (negative for down) this much: </button>
                    </td>
                    <td rowspan="2">
                        <input type="text" class="text" id="shiftValue" ng-model="set.shiftValue" value="1" style="margin-right: 10px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="shiftHorizButton" style="margin-top: 5px; margin-left: 10px;" ng-click="set.shiftHoriz(set.shiftValue)">Shift image right (negative for left) this much: </button>
                    </td>
                </tr>
            </table>
        </section>
        <section class="left_bar">
            <button id="trimButton" style="margin-left: 10px; height: 50px; margin-top: 10px" ng-click="set.trim()" >
                Trim Edges
            </button>
        </section>
    </div>-->
    <!--    <div class="tab_data" id="edit_content">
            <section>
                <button id="cutButton">
                    Cut<br />
                    <span>(<span class="cmd">Ctrl</span> + X)</span>
                </button>
                <button id="copyButton">
                    Copy<br />
                    <span>(<span class="cmd">Ctrl</span> + C)</span>
                </button>
                <div style="display: inline-block; margin-right: 10px; text-align: center">
                    <button id="pasteButton" style="float: none">
                        Paste<br />
                        <span>(<span class="cmd">Ctrl</span> + V)</span>
                    </button><br />
                    <form autocomplete="off">
                        <input type="checkbox" id="pasteTrans" />
                        <label for="pasteTrans" style="display: block; float: left">
                            Transparent
                        </label>
                    </form>
                </div>
            </section>
            <section class="left_bar">
                <button id="undoButton">
                    Undo<br />
                    <span>(<span class="cmd">Ctrl</span> + Z)</span>
                </button>
                <button id="redoButton">
                    Redo<br />
                    <span>(<span class="cmd">Ctrl</span> + Y)</span>
                </button>
            </section>
        </div>
    </div>
    <div class="tab_data" id="advanced_content">
        <div id="extra">
            <table style="float: left">
                <tr>
                -->
                    <!--<td>
                        <label for="character">Character: </label>
                    </td>
                    <td>
                        <input type="text" id="character" maxlength="1" style="width: 12px" value="/" onchange="setCopyLinearArgs()" />
                    </td>-->
            <!--    </tr>
                <tr>
                    <td>
                        <label for="rise">Rise: </label>
                    </td>
                    <td>
                        <input type="text" name="rise" id="rise" class="text" style="width: 48px" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rise">Run: </label>
                    </td>
                    <td>
                        <input type="text" name="run" id="run" class="text" style="width: 48px" value="1" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="rise">Times to copy: </label>
                    </td>
                    <td>
                        <input type="text" class="text" name="iters" id="iters" style="width: 48px" value="3" />
                    </td>
                </tr>
            </table>
            <button style="float: left; height: 50px; margin-left: 5px; margin-top: 15px">Print this<br />line at cursor</button>
        </div>
    </div>
    <div class="tab_data" id="help_content">
        <a id="back" href="projects/"><span>Back <br />to <br />Projects</span></a>
        <div style="margin-left: 10px">
            Click anywhere in the canvas below to insert characters. Anything you type in one place will not affect anything else you typed elsewhere. To make a block selection, simply click and drag your cursor from the start of the desired selection to the end of it. From here, you can draw lines, rectangles, or other shapes of a character by pressing that key on your keyboard.
        </div>-->
    <div id="tab_content">
        <div #placeholder></div>
    </div>
</header>
