<div class="tab_data" id="window_content" *ngIf="selected">
    <section>
        <table>
            <tr>
                <td colspan="2">
                    Canvas dimensions: <br />
                </td>
            </tr>
            <tr>
                <td>Height: </td>
                <td><input type="text" class="text" [(ngModel)]="h" /></td>
            </tr>
            <tr>
                <td>Width: </td>
                <td><input type="text" class="text" [(ngModel)]="w" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <button (click)="resetOnConfirm()">Reset </button>
                </td>
                <td>
                    <button (click)="changeBoxDims()">Change dimensions</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
            <input type="checkbox" id="tb" [(ngModel)]="bordersChecked" (change)="toggleBoxBorders()" style="width: auto" /> <label for="tb">Edge Borders</label>
                    </td>
            </tr>
        </table>
    </section>
    <section class="left_bar">
        <table id="shifts">
            <tr>
                <td>
                    <button id="shiftVertButton" style="margin-top: 15px; margin-left: 10px;" (click)="shiftVert(shiftValue)">Shift image up (negative for down) this much: </button>
                </td>
                <td rowspan="2">
                    <input type="text" class="text" id="shiftValue" [(ngModel)]="shiftValue" value="1" style="margin-right: 10px" />
                </td>
            </tr>
            <tr>
                <td>
                    <button id="shiftHorizButton" style="margin-top: 5px; margin-left: 10px;" (click)="shiftHoriz(shiftValue)">Shift image right (negative for left) this much: </button>
                </td>
            </tr>
        </table>
    </section>
    <section class="left_bar">
        <button id="trimButton" style="margin-left: 10px; height: 50px; margin-top: 10px" (click)="trim()" >
            Trim Edges
        </button>
    </section>
</div>